
@{
    ViewBag.Title = "CreateCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateCustomer</h2>

@using (@Html.BeginForm("AddCustomer","Customers"))
{
    <div class="form-group">
      <h1>Customers</h1>
    </div>
    
}

